/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}



.mercury {
  background: linear-gradient(90deg, #453217, darken(#453217, 7%));
  box-shadow: inset 7px 0px 0px darken(#453217, 7%);
}

.venus {
  background: linear-gradient(90deg, #AC6339, darken(#AC6339, 7%));
  box-shadow: inset 7px 0px 0px darken(#AC6339, 12%);
}

.earth {
  background: linear-gradient(90deg, #3E8EBB, darken(#3E8EBB, 7%));
  box-shadow: inset 7px 0px 0px darken(#3E8EBB, 12%);
}

.mars {
  background: linear-gradient(90deg, #6F3125, darken(#6F3125, 7%));
  box-shadow: inset 7px 0px 0px darken(#6F3125, 9%);
}

.jupiter {
  background: linear-gradient(90deg, #3D2C14, darken(#3D2C14, 7%));
  box-shadow: inset 7px 0px 0px darken(#3D2C14, 5%);
}

.saturn {
  background: linear-gradient(90deg, #E97340, darken(#E97340, 7%));
  box-shadow: inset 7px 0px 0px darken(#E97340, 14%);
}

.uranus {
  background: linear-gradient(90deg, #337799, darken(#337799, 7%));
  box-shadow: inset 7px 0px 0px darken(#337799, 12%);
}

.neptune {
  background: linear-gradient(90deg, #6ACDC0, darken(#6ACDC0, 7%));
  box-shadow: inset 7px 0px 0px darken(#6ACDC0, 17%);
}
